{% extends 'base/base.html' %}

{% block start %}

<div class="container mt-5 pt-5">
    <div class="row">

        {% for package in packages %}

        <div class="col-md-3">
            <figure class="card card-product-grid">
                <div class="img-wrap"> <img src="/media/{{package.package_image.first.image}}"> </div>
                <figcaption class="info-wrap border-top">
                    <a href="{% url 'get_package' package.slug %}" class="title">
                        <b>{{package.title}}</b>
                    </a>
                    <div class="price mt-2">Rs. {{package.price}}</div> <!-- price-wrap.// -->
                </figcaption>
            </figure> <!-- card // -->
        </div>
        {% endfor %}
    </div>

    </div>

{% endblock  %}
