.top_section{
    display: flex;
    justify-content: space-around;
    background-color: rgb(10, 17, 54);
    align-items: center;
    position: relative;
    font-size: 0.8em;
}
.top_section ul{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    transition: all 0.5s;
}
.top_section ul a{
    text-decoration: none;
    font-size: 1.2em;
    color: white;
}
.top_section ul li{
    text-align: center;
    display: block;
    width: 100%;
    padding: 0.4em 0.5em;
    background-color: rgb(10, 17, 54);
}
.top_section ul li:hover{
    cursor: pointer;
    
}
.top_section ul li:hover a{
    color: lightcoral;
}

.remove_md{
    color: white;
    display: flex;
    align-items: center;
    gap: 1em;
}
.remove_md i:hover{
    margin-left:0.3em ;
    color: lightcoral;
}
.remove_md i{
    margin-left:0.3em ;
    font-size: 1.1em;
}
.remove_md .phone_number i{
    color: lightcoral;
}
.remove_md .phone_number {
    position: relative;
}
.remove_md .phone_number::after{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(1em,30%);
    width: 0.1em;

    height: 60%;
    background-color: lightcoral;
}
.avatar{
    width: 3.5em;
    aspect-ratio: 1;
    /* background-color: grey; */
    padding: 0.3em;
    position: relative;
    
}
.avatar_img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.menu_button{
    width:2.5em;
    aspect-ratio: 1;
    border-radius: 50%;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: relative;
    display: none;
}
.menu_button span{
    position: absolute;
    inset: 0 0 0 0;
    width: 90%;
    height: 0.3em;
    margin: auto;
    background-color: lightcoral;
    transition: transform 0.5s;
}
.menu_button:hover{
    background-color:  #a6538b;
}
.menu_button span:nth-child(1){
    translate:0 -200%;
}
.menu_button span:nth-child(3){
    translate:0 200%;
}
.menu_button_transfromed span:nth-child(1){
    transform:translate(0,200%) rotate(-45deg) ;
}
.menu_button_transfromed span:nth-child(3){
    transform:translate(0,-200%) rotate(45deg) ;
}
.menu_button_transfromed span:nth-child(2){
    transform:translate(-200%,0%) scale(0) ;
}
.absolute_menu{
    position: absolute;
    z-index: 100000;
    translate: -100% 0;
    height: 100vh;
    width: 45vw;
    background-color: rgb(255, 255, 255);
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* avatar hover */
.active_user{
    scale: 0;

}
.avatar:hover .guest_info{
    scale: 1;
}

.user_info{
    width: 214px;
    scale: 1;
    right: 7%;
    
    transform: translate(50%);
    padding: 0.7em;
    position: absolute;
    z-index: 100;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-radius: 0.4em;
    text-align: center;
    border: 1px solid grey;
}
.guest_info{
    width: 100px;
    height: 50px;
    right: 100%;
    transform: translate(50%);
    padding: 0.7em;
    scale: 0;
    position: absolute;
    z-index: 100;
    background-color: rgb(255, 255, 255);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.4em;
    border: 1px solid grey;
}
.guest_info button,.user_info button{
    background-color: rgb(235, 122, 122);
    color: white;
    font-size: 1.2em;
    padding: 0.3em;
    border-radius: 0.4em;
    border: none;

}
.guest_info button:hover,.user_info button:hover{
    background-color: rgb(230, 78, 78);

}
@media screen and (max-width: 950px) {
    .remove_md{
        display: none;
    }
    .top_section{
        font-size: 15px;
    }
}
@media screen and (max-width: 720px) {
    .top_section ul{
        position: absolute;
        left: 100%;
        top: 100%;
    }
    .menu_button{
        display: block;
    }
    
}